<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Photobible</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to use your camera</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to your microphone (for videos)</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to save photos to your photo gallery</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) would like access to your photo gallery</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>AlfaSlabOne-Regular.ttf</string>
		<string>Allura-Regular.ttf</string>
		<string>Cookie-Regular.ttf</string>
		<string>Courgette-Regular.ttf</string>
		<string>CoveredByYourGrace.ttf</string>
		<string>DancingScript-Bold.ttf</string>
		<string>DancingScript-Regular.ttf</string>
		<string>DiplomataSC-Regular.ttf</string>
		<string>FasterOne-Regular.ttf</string>
		<string>FjallaOne-Regular.ttf</string>
		<string>FrederickatheGreat-Regular.ttf</string>
		<string>GravitasOne.ttf</string>
		<string>GreatVibes-Regular.ttf</string>
		<string>Italianno-Regular.ttf</string>
		<string>KumarOne-Regular.ttf</string>
		<string>Lobster-Regular.ttf</string>
		<string>MajorMonoDisplay-Regular.ttf</string>
		<string>Marvel-Bold.ttf</string>
		<string>Marvel-BoldItalic.ttf</string>
		<string>Marvel-Italic.ttf</string>
		<string>Marvel-Regular.ttf</string>
		<string>MedulaOne-Regular.ttf</string>
		<string>Monoton-Regular.ttf</string>
		<string>OleoScriptSwashCaps-Bold.ttf</string>
		<string>OleoScriptSwashCaps-Regular.ttf</string>
		<string>Orbitron-Black.ttf</string>
		<string>Orbitron-Bold.ttf</string>
		<string>Orbitron-Medium.ttf</string>
		<string>Orbitron-Regular.ttf</string>
		<string>Oswald-Bold.ttf</string>
		<string>Oswald-ExtraLight.ttf</string>
		<string>Oswald-Light.ttf</string>
		<string>Oswald-Medium.ttf</string>
		<string>Oswald-Regular.ttf</string>
		<string>Oswald-SemiBold.ttf</string>
		<string>Pacifico-Regular.ttf</string>
		<string>PermanentMarker-Regular.ttf</string>
		<string>PrincessSofia-Regular.ttf</string>
		<string>Righteous-Regular.ttf</string>
		<string>Satisfy-Regular.ttf</string>
		<string>SigmarOne-Regular.ttf</string>
		<string>SonsieOne-Regular.ttf</string>
		<string>SquadaOne-Regular.ttf</string>
		<string>Staatliches-Regular.ttf</string>
		<string>UnicaOne-Regular.ttf</string>
		<string>VastShadow-Regular.ttf</string>
		<string>ZCOOLQingKeHuangYou-Regular.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
  <key>LSApplicationQueriesSchemes</key>
  <array>
    <string>whatsapp</string>
    <string>mailto</string>
  </array>
</dict>
</plist>
